
.form-login {
  max-width: 400px;
  padding: 20px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 20px;
  border: 1px solid white;
  border-radius: 5px;
  color: #ffffff;
}

.form-login input[type="text"],
.form-login input[type="username"],
.form-login input[type="text"],
.form-login input[type="password"] {
  width: 80%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  background-color: #c2c3d3;
  color: #000000;
}

button {
  cursor: pointer;
  width: 100%;
  display: block;
  background-color: #555;
  border: 0;
  color: #fff;
  border-radius: 5px;

}

.form-login h1 {
  text-align: center;
}
